body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    padding: 16px;
    background-color: burlywood;
    display: grid;
    grid-template-rows: 50px 190px 250px 50px;
    grid-template-columns: 30vw 30vw 30vw;
    grid-gap: 16px;
    grid-template-areas:
            "a c c"
            "b c c"
            "b e d"
            "f f f";
    justify-content: center;
}

.box {
    background-color: indianred;
}

.box-a {
    grid-area: a;
}

.box-b {
    grid-area: b;
}

.box-c {
    grid-area: c;
}

.box-d {
    grid-area: d;
    height: 100px;
}

.box-e {
    grid-area: e;
}

.box-f {
    grid-area: f;
}

@media screen and (max-width: 480px) {
    grid-template-rows: 50px auto 50px 50px 100px 50px;
    grid-template-columns: auto;
    grid-template-areas:
            "a" "b" "c" "d" "e" "f";
}
